@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	float: center;
	
}

.album-art {
	float:left;
	padding: 20px;
	border: 2px solid red
	
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px solid red;
	padding: 20px;
	
}

.record-label {

}

.track-list {
	

}

#about-photo {
	border:1px solid rgb(163, 3, 3);
	padding: 20px;

}

#copyright {
	font-size: small;
	color:red;
}

#section-about, #section-discography, #section-equipment {
	margin: 10px;
	border: 1px solid red;
	padding: 20px;
	

}

#text-intro {
	border: 2px solid red;
	background-color: rgb(39, 38, 38);
	padding: 20px 10px;
	color:red;
	margin: 18px

}